/*---Basic Rules--*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(59, 59, 59);
}
main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*---F.Basic Rules--*/


/*---Containers---*/
.container{
    width: 1280px;
    height: 300px;
}

/*---F.Containers---*/

/*---Snecks---*/

.snecks, .sneck__optional{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 57, 255);
    border-radius: 30px;
    border: 2px solid #fff;
    box-shadow: 1px 0px 10px 0px #636363;
    margin: 20px 0;
}

.snecks h1, .sneck__optional h1{
    color: #fff;
}

.snecks .description{
    color: #fff;
    margin: 30px 0;
    font-weight: 400;
}


.snecks input{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    padding: 0 10px;
    font-size: 20px;
    border-color: #fff;
    margin-bottom: 30px;
    border: 2px solid rgb(148, 148, 148);
    color: rgb(209, 57, 255);
}
.snecks input:hover{
    border: 2px solid rgb(43, 226, 113);
}
.snecks input:focus{
    border: 2px solid rgb(43, 226, 113);
    outline: none;
}

.snecks .value{
    display: flex;
}

.snecks .error{
    width: auto;
    height: 40px;
    color: #fff;
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(255, 89, 89);
    border: 2px solid #fff;
    display: flex;
}

.sneck__btn{
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgb(43, 226, 113);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.sneck__btn:hover{
    border: 2px solid rgb(43, 226, 113);
    background-color: transparent;
    transition: .2s;
}

.sneck__result{
    margin-bottom: 30px;
    color: #fff;
    display: flex;
}
.sneck__result p{
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    color: #e6e6e6;
}

.snecks__risposta{
    padding: 10px;
    margin: 0 10px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

/*---F.Snecks---*/

/*---*/
.hidden{
    display: none;
}

/*Sneck5*/

.red{
    color: rgb(255, 57, 57);
}

/*Sneck 6*/

.this{
    color: #7cff92;
    font-style: italic;
    font-weight: 400;
}

.example{
    background-color: #fff;
    color: #000;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}
.return__to__right{
    margin-left: 50px;
}
.return__to__right__extra{
    margin-left: 70px;
}



/*Sneck Optional*/

/* input::file-selector-button{
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgb(43, 226, 113);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.input__optional{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

input[type="file"]::file-selector-button:hover{
    border: 2px solid rgb(43, 226, 113);
    background-color: transparent;
    transition: .2s;
}
input[type="file"]::file-selector-text{
    color: #fff;
}
input[type="submit"]{
    width: 150px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgb(226, 43, 134);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
input[type="submit"]:hover{
    border: 2px solid rgb(43, 226, 113);
    background-color: transparent;
    transition: .2s;
} */